.first-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-area-title {
  font-size: 2.725em;
  font-weight: bold;
  line-height: 1.2em;
}

.first-area-text {
  margin: 1.25em 0;
}

.scroll-down-position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scroll-down-text {
  font-size: 1.5em;
}
