.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e6e6e6;
}

.box-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  flex-shrink: 1;
  width: 16.67vw;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: none;
    transition: transform .6s cubic-bezier(0, .89, .28, .87);
  }

  &.box-active {
    &::before {
      transform: translateX(-100%) translateX(1px);
    }
  }
}
