.first-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-area-title {
  font-size: 2.725em;
  font-weight: bold;
  line-height: 1.2em;
}

.first-area-text {
  margin: 1.25em 0;
}
