.second-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second-area-frame-1,
.second-area-frame-2 {
  opacity: 0;
  transform: translateX(1.5em);
  transition-property: transform, opacity;
  transition-duration: .75s;
  transition-timing-function: ease;
}

.area-loaded {
  .second-area-frame-1,
  .second-area-frame-2 {
    opacity: 1;
    transform: none;
  }

  .second-area-frame-1 {
    transition-delay: .6s;
  }

  .second-area-frame-2 {
    transition-delay: 1s;
  }
}
