.third-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.third-area-frame-text,
.third-area-frame-title,
.third-area-frame-btn,
.third-area-frame-preview,
.third-area-frame-color {
  opacity: 0;
  transform: translateX(1.5em);
  transition-property: transform, opacity;
  transition-duration: .75s;
  transition-timing-function: ease;
}

.area-loaded {
  .third-area-frame-text,
  .third-area-frame-title,
  .third-area-frame-btn,
  .third-area-frame-preview,
  .third-area-frame-color {
    opacity: 1;
    transform: none;
  }

  .third-area-frame-preview {
    transition-delay: .6s;
  }

  .third-area-frame-color {
    transition-delay: 1s;
  }

  .third-area-frame-text {
    transition-delay: 1.4s;
  }

  .third-area-frame-title {
    transition-delay: 1.8s;
  }

  .third-area-frame-btn {
    transition-delay: 2.2s;
  }
}
