.text-sm {
  font-size: 12px;
  line-height: 14px;
}

.text-ms {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 16px;
  line-height: 22px;
}

.text-ml {
  font-size: 18px;
  line-height: 25px;
}

.text-lg {
  font-size: 20px;
  line-height: 28px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.fixed-full {
  -webkit-backface-visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute-full-width {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.absolute-full-height {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin bg-size($w, $h) {
  width: $w;
  height: $h;
  background-size: $w $h;
}

.position-fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.visibility-hidden {
  opacity: 0;
  visibility: hidden;
}

.visibility-visible {
  opacity: 1;
  visibility: visible;
}

.font-weight-600 {
  font-weight: 600;
}

.border-none {
  border: none;
}

.theme-dark-gray { // can't include variables or it will looped
  background-color: #58585a;
  color: #fff;
}

.color-white {
  color: #fff;
}

.clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.btn-no-default {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.each-item-has-margin-xs {
  > *:not(.hide-mobile) + *,
  > * + .hide-mobile + * {
    margin-left: 10px;
  }

  @media (min-width: 768px) {
    > * + * {
      margin-left: 10px;
    }
  }
}

.each-item-has-margin-sm {
  > *:not(.hide-mobile) + *,
  > * + .hide-mobile + * {
    margin-left: 15px;
  }

  @media (min-width: 768px) {
    > * + * {
      margin-left: 15px;
    }
  }
}

.each-item-has-margin-md {
  > *:not(.hide-mobile) + *,
  > * + .hide-mobile + * {
    margin-left: 20px;
  }

  @media (min-width: 768px) {
    > * + * {
      margin-left: 20px;
    }
  }
}

.each-item-has-margin-ml {
  > *:not(.hide-mobile) + *,
  > * + .hide-mobile + * {
    margin-left: 40px;
  }

  @media (min-width: 768px) {
    > * + * {
      margin-left: 40px;
    }
  }
}

.text-with-gray-bg {
  color: #fff;
  text-shadow: none;
}

.theme-black {
  background-color: #000;
}

.height-none {
  height: 0;

  &.height-auto {
    height: auto;
  }
}
