$response: 768px;

$white: #fff;
$gray: #f8f8f8;
$gray2: #bcbdc1;
$gray3: #9b9b9b;
$gray4: #585b5a;
$gray5: #353535;
$gray6: #f5f5f5;
$black: #000;

$dark-red: #c71946;
$dark-red2: #b0002e;
$green: #4cd964;
$pink: #f387a1;
$pink2: #ec0974;
$purple: #662e91;
$yellow: #fc3;

$font-family: 'Noto Sans CJK TC', 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', '微軟雅黑體', 'sans-serif';

$extreme-ease-out: cubic-bezier(0, 1, .4, 1);
