$response: 768px;

$white: #fff;
$gray: #f8f8f8;
$gray2: #bcbdc1;
$gray3: #9b9b9b;
$gray4: #585b5a;
$gray5: #353535;
$gray6: #f5f5f5;
$black: #000;

$orange: #e78b0f;

$extreme-ease-out: cubic-bezier(0, 1, .4, 1);