$color1: #fff200;
$color2: #004eaf;
$menu-hover-color1-spd: .6s;
$menu-hover-color1-timing: cubic-bezier(0, 1, .5, 1);
$menu-hover-color2-spd: 1s;
$menu-hover-color2-delay-spd: .15s;
$menu-hover-color2-timing: cubic-bezier(0, 1, .85, 1);
$main-li-height: 80px;

.loader-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;

  &:hover {
    // 顏色１遮罩進入
    .loader-text-outer {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: $menu-hover-color1-spd $menu-hover-color1-timing;
      transition: $menu-hover-color1-spd $menu-hover-color1-timing;
    }

    .loader-text-inner {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: $menu-hover-color1-spd $menu-hover-color1-timing;
      transition: $menu-hover-color1-spd $menu-hover-color1-timing;
    }

    // 顏色２遮罩進入
    .loader-text-outer-second {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: transform $menu-hover-color2-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
      transition: transform $menu-hover-color2-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;

      .loader-text-inner {
        -webkit-transition: transform $menu-hover-color2-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
        transition: transform $menu-hover-color2-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
      }
    }
  }
}

.loader-text--model {
  position: absolute;
}

.loader-text--sizing {
  visibility: hidden;
}

// 顏色１遮罩離開
.loader-text-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform $menu-hover-color1-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
  transition: transform $menu-hover-color1-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;

  .loader-text-inner {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform $menu-hover-color1-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
    transition: transform $menu-hover-color1-spd $menu-hover-color2-timing $menu-hover-color2-delay-spd;
  }

  .loader-text--mask {
    color: $color1;
  }
}

// 顏色２遮罩離開
.loader-text-outer-second {
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform $menu-hover-color2-spd $menu-hover-color1-timing;
  transition: transform $menu-hover-color2-spd $menu-hover-color1-timing;

  .loader-text-inner {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform $menu-hover-color2-spd $menu-hover-color1-timing;
    transition: transform $menu-hover-color2-spd $menu-hover-color1-timing;
  }

  .loader-text--mask {
    color: $color2;
  }
}
